html {
    min-height: 100vh;
}

body {
    background-color: rgb(35, 40, 43);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
}

/* header styles */

header {
    color: #ccc;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.navbar {
    height: 10vw;
    border: none;
    margin: 0;
    background-color: rgba(52, 57, 61, .7);
}

@media screen and (max-width: 767px) {
    .navbar {
        height: 76px;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ccc;
}

@media screen and (max-width: 420px) {
    .navbar-toggle {
        margin-top: 21px;
        margin-right: calc(15px + 3vw);
    }
}

@media screen and (min-width: 421px) and (max-width: 767px) {
    .navbar-toggle {
        margin-top: 21px;
        margin-right: calc(15px + 21px);
    }
}

/* here I customize the collapsed navbar to get it on the right,
 just under the top navbar, giving it a fixed position */

@media screen and (max-width: 767px) {
    .navbar-collapse {
        background-color: rgba(52, 57, 61, .7);
        border: none;
        margin-right: 0;
        position: absolute;
        right: 15px;
        top: 76px;
        text-align: right;
    }
}

.navbar-header {
    height: 10vw;
    background-color: rgba(0, 0, 0, 0);
}

.header-logo {
    max-width: 7vw;
    margin: 1.5vw;
}

/* positioning and giving fixed size to the logo for screens with width up to 767px */

@media screen and (max-width: 420px) {
    .header-logo {
        max-width: 40px;
        margin-left: calc(15px + 3vw);
        margin-top: 18px;
    }
}

@media screen and (min-width: 421px) and (max-width: 500px) {
    .header-logo {
        max-width: 40px;
        margin-left: 35px;
        margin-top: 18px;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .header-logo {
        max-width: 52px;
        margin-left: 35px;
        margin-top: 12px;
    }
}

.navbar-nav {
    font-size: 1em;
    text-transform: uppercase;
}

.navbar-default .navbar-nav .navbar-nav-link {
    color: #ccc;
}

.navbar-default .navbar-nav .open .dropdown-menu .navbar-nav-link {
    color: #ccc;
}

.navbar-default .navbar-nav .navbar-nav-link:hover {
    color: #eee;
}

.dropdown-menu {
    background-color: rgba(52, 57, 61, .7);
    border: none;
    font-size: 18px;
    min-width: 50px;
    right: 0;
    text-align: center;
}

.dropdown-menu .navbar-nav-link:hover {
    background-color: #333;
}

@media screen and (max-width: 767px) {
    .dropdown-menu li {
        padding-right: 5px;
    }
}

.navbar-personal-info {
    float: right;
    margin-right: 1.5vw;
    margin-top: calc((10vw - 58px)/2);
}

@media screen and (max-width: 420px) {
    .navbar-personal-info {
        float: none;
        margin: 0;
        position: absolute;
        left: calc(50vw - 94px);
        top: 21px;
    }
}

@media screen and (min-width: 421px) and (max-width: 500px) {
    .navbar-personal-info {
        float: none;
        margin: 0;
        position: absolute;
        top: 17px;
        left: calc(50vw - 136px);
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .navbar-personal-info {
        float: none;
        margin: 0;
        position: absolute;
        top: 13px;
        left: calc(50vw - 157px);
    }
}

.navbar-personal-info .navbar-h1,
.navbar-personal-info .navbar-h4 {
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 420px) {
    .navbar-personal-info .navbar-h1 {
        font-size: 18px;
        text-align: center;
    }
    .navbar-personal-info .navbar-h4 {
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 421px) and (max-width: 500px) {
    .navbar-personal-info .navbar-h1 {
        font-size: 26px;
        text-align: center;
    }
    .navbar-personal-info .navbar-h4 {
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .navbar-personal-info .navbar-h1 {
        font-size: 30px;
        text-align: center;
    }
    .navbar-personal-info .navbar-h4 {
        font-size: 15px;
        text-align: center;
    }
}

li {
    margin-top: calc((10vw - 50px)/2)
}

/* main content styles */

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.main-box {
    margin: 0;
    padding-top: 10vw;
}

@media screen and (max-width: 767px) {
    .main-box {
        padding-top: 76px;
    }
}

.main-image {
    max-width: 100%;
}

.main-image-box {
    padding: 0;
    position: relative;
}

.main-paragraph {
    font-size: 3.5vw;
    position: absolute;
    left: 2%;
    top: 1%;
    text-align: left;
    text-transform: none;
}

/* main: projects section */

.works {
    color: #aaa;
    font-size: 4vw;
    margin-bottom: 1.5vw;
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .works {
        font-size: 6vw;
        text-align: center;
        width: 100%;
    }
}

.projects-box {
    margin-top: 5vw;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .projects-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.image-box {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .image-box {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .image-box {
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 768px) {
    .box1 {
        padding: 0 10px 0 0;
    }
    .box2 {
        padding: 0 5px 0 5px;
    }
    .box3 {
        padding: 0 0 0 10px;
    }
}

.image-box .project-h2 {
    color: #ccc;
    margin: 1.5vw 0 0 0;
}

.image-box .project-link {
    color: #2b6b9b;
    font-size: 16px;
    text-transform: none;
}

@media screen and (max-width: 500px) {
    .image-box .project-link {
        font-size: 14px;
    }
}

/* making photos fit container for viewport width bigger than 1280px */

@media screen and (min-width: 1281px) {
    .main-image,
    .image1,
    .image2,
    .image3 {
        width: 100%;
    }
}

/* modals styles */

.modal-content {
    background-color: rgba(0, 0, 0, .6);
    border: none;
    border-radius: 2%;
    box-shadow: 0 0 10px #aaa;
    color: #ccc;
}

.close {
    color: #ccc;
    opacity: .9;
}

.modal-body,
.modal-header {
    background-color: rgba(0, 0, 0, 0);
}

.modal-body {
    text-align: center;
    text-transform: none;
}

/* Footer styles */

.copyright {
    color: #666;
    font-size: 12px;
    padding: 10px;
    text-transform: capitalize;
}

.footer {
    text-align: center;
}

.footer .footer-link {
    color: #ccc;
    width: 10vw;
    font-size: 30px;
}